body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100vh;
}

.canvas-contenedor {
    background-color: black;
    padding: 12px 15px;
    border-radius: 8px;
}